In [1]:
import numpy as np
import pandas as pd

# Lab 01
David Gao (I work this alone)
## 1  Data Import and Summary
##### 1.

In [2]:
covid = pd.read_csv(r'time-series-covid19-deaths-us.csv', sep='\t')
covid.head(5)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/17/22,3/18/22,3/19/22,3/20/22,3/21/22,3/22/22,3/23/22,3/24/22,3/25/22,3/26/22
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,209,210,210,210,210,210,210,209,209,209
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,668,669,669,669,672,673,673,673,674,674
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,94,94,94,94,94,97,97,97,97,97
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,100,100,100,100,100,101,101,101,101,101
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,228,230,230,230,230,230,230,230,233,233

##### 2.

In [3]:
rows,columns = covid.shape
print('rows:', rows, '; columns:', columns)

rows: 3342 ; columns: 807

##### 3.

In [4]:
data_types = covid.dtypes
data_types

UID          int64
iso2        object
iso3        object
code3        int64
FIPS       float64
            ...
3/22/22      int64
3/23/22      int64
3/24/22      int64
3/25/22      int64
3/26/22      int64
Length: 807, dtype: object

##### 4.

In [7]:
sub_covid = covid[['FIPS', 'Admin2', 'Province_State','3/1/20', '3/15/21', '3/26/22']]
sub_covid.head(5)

     FIPS   Admin2 Province_State  3/1/20  3/15/21  3/26/22
0  1001.0  Autauga        Alabama       0       95      209
1  1003.0  Baldwin        Alabama       0      294      674
2  1005.0  Barbour        Alabama       0       53       97
3  1007.0     Bibb        Alabama       0       58      101
4  1009.0   Blount        Alabama       0      129      233

## 2  Explore deaths in Washington
##### 1.

In [8]:
WA_deaths = sub_covid[sub_covid.Province_State == 'Washington']
WA_deaths.head(5)

         FIPS   Admin2 Province_State  3/1/20  3/15/21  3/26/22
3145  53001.0    Adams     Washington       0       22       38
3146  53003.0   Asotin     Washington       0       28       65
3147  53005.0   Benton     Washington       0      209      464
3148  53007.0   Chelan     Washington       0       62      160
3149  53009.0  Clallam     Washington       0        8      137

##### 2.

In [9]:

WA_deaths['growth'] = WA_deaths['3/26/22'] - WA_deaths['3/15/21']
WA_deaths.head(5)

/tmp/ipykernel_88/1680673788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  WA_deaths['growth'] = WA_deaths['3/26/22'] - WA_deaths['3/15/21']

         FIPS   Admin2 Province_State  3/1/20  3/15/21  3/26/22  growth
3145  53001.0    Adams     Washington       0       22       38      16
3146  53003.0   Asotin     Washington       0       28       65      37
3147  53005.0   Benton     Washington       0      209      464     255
3148  53007.0   Chelan     Washington       0       62      160      98
3149  53009.0  Clallam     Washington       0        8      137     129

##### 3.
There is a warning as the operation of adding a row "growth" was made directly on a partial view the orignial data. To avoid this warning, we can make a copy wity `.copy()` before modifying data.

In [15]:
WA_deaths = sub_covid[sub_covid.Province_State == 'Washington'].copy()
WA_deaths['growth'] = WA_deaths['3/26/22'] - WA_deaths['3/15/21']
WA_deaths.head(5)

         FIPS   Admin2 Province_State  3/1/20  3/15/21  3/26/22  growth
3145  53001.0    Adams     Washington       0       22       38      16
3146  53003.0   Asotin     Washington       0       28       65      37
3147  53005.0   Benton     Washington       0      209      464     255
3148  53007.0   Chelan     Washington       0       62      160      98
3149  53009.0  Clallam     Washington       0        8      137     129

##### 4.

In [11]:
growth = WA_deaths["growth"]
type(growth)

pandas.core.series.Series

The type of growth is Series.

##### 5.
The index is the line number of original U.S. covid data. And it is not a useful index. I think FIPS can be a better index as it is unique for every counties.

##### 6.

In [12]:
growth.index = WA_deaths['FIPS']
growth.head(5)

FIPS
53001.0     16
53003.0     37
53005.0    255
53007.0     98
53009.0    129
Name: growth, dtype: int64

## 3  Data interpretation
##### 1.

In [13]:
top = growth.sort_values()
index = top.index
index.shape

(41,)

In [14]:
counties = []
for i in index[31:]:
    temp = WA_deaths[WA_deaths.FIPS == i][['Admin2','growth']]
    counties.append(temp)

counties

[      Admin2  growth
 3162  Kitsap     245,
       Admin2  growth
 3147  Benton     255,
        Admin2  growth
 3152  Cowlitz     270,
         Admin2  growth
 3179  Thurston     322,
       Admin2  growth
 3185  Yakima     341,
      Admin2  growth
 3150  Clark     546,
          Admin2  growth
 3176  Snohomish     567,
        Admin2  growth
 3177  Spokane     769,
       Admin2  growth
 3172  Pierce     787,
      Admin2  growth
 3161   King    1215]

The counties with top 10 deaths growth are King, Pierce, Spokane, Snohomish, Clark, Yakima, Thurston, Cowlitz, Benton, and Kitsap.

##### 2.
The efficacy of social distancing measures in Seattle did not work vary well, as King county has largest number of deaths growth.